@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
font-family: 'Outfit', sans-serif;
}
body{
  background: #000;
}
h1,h4,p,a{
  color: white;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: yellow;
  font-weight: 600;
  color: black;
  border: 1px solid wheat;
  cursor: pointer;
}
.btn-light{
background: transparent;
color: white;
}
.btn:hover{
  background: grey;
  color: white;
  transition: 0.3s;
}